<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZoneBiz</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css" >

    <script src="https://kit.fontawesome.com/891644f5a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="download">
        <p>
            For Download This Theme <a href="#">Click Here</a>
        </p>
    </div>
    <header class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="top-bar__social-media">
                        <li class="top-bar__social-media-icon">
                            <a class="fab fa-facebook-f top-bar__social-media-link" href="#"></a>
                        </li>
                        <li class="top-bar__social-media-icon">
                            <a class="fab fa-instagram top-bar__social-media-link" href="#"></a>
                        </li>
                        <li class="top-bar__social-media-icon">
                            <a class="fab fa-twitter top-bar__social-media-link" href="#"></a>
                        </li>
                        <li class="top-bar__social-media-icon">
                            <a class="fab fa-linkedin-in top-bar__social-media-link" href="#"></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <div class="top-bar__contact-detail">
                        <div class="top-bar__contact-item">
                            <i class="fas fa-phone"></i>
                            +01 899 286 777
                        </div>
                        <div class="top-bar__contact-item">
                            <i class="fas fa-map-marker-alt"></i>
                            8/99 , North khailkoir, NY
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="nav">
            <div class="container">
                <a class="nav__brand" >
                    <img src="./images/logo.png" alt="brand" class="img-fluid">
                </a>
    
                <a class="nav__toggle" >
                    <i class="nav__toggle__icon"></i>
                </a>
    
                <div class="nav__menu">
                    <ul class="nav__menu__list">
                        <li class="nav__menu__item">
                            <a href="#" class="nav__menu__link">
                                HOME
                            </a>
                        </li>
    
                        <li class="nav__menu__item">
                            <a href="#" class="nav__menu__link">
                                ABOUT
                            </a>
                        </li>
    
                        <li class="nav__menu__item">
                            <a href="#" class="nav__menu__link">
                                PAGES
                                <i class="fas fa-sort-down"></i>
                            </a>
                            <div class="nav__menu__item__menu">
                                <ul class="nav__menu__list">
                                    <li class="nav__menu__item">
                                        <a href="#" class="nav__menu__link nav__menu__link--no-hover">
                                            Page 1
                                        </a>
                                        <li class="nav__menu__item">
                                            <a href="#" class="nav__menu__link nav__menu__link--no-hover">
                                                Page 2
                                            </a>
                                        </li>
                                        <li class="nav__menu__item">
                                            <a href="#" class="nav__menu__link nav__menu__link--no-hover">
                                                Page 3
                                            </a>
                                        </li>
                                    </li>
                                </ul>
                            </div>
                        </li>
    
                        <li class="nav__menu__item">
                            <a href="#" class="nav__menu__link">
                                CONTACT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel owl-theme slider" id="header_slider">
                <div class="item">
                    <div class="slider__img slider__img--1"></div>
                </div>
                <div class="item">
                    <div class="slider__img slider__img--2"></div>
                </div>
                <div class="item">
                    <div class="slider__img slider__img--3"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="about container" >
        <div class="row">
            <div class="col-lg-6">
                <h2 class="about__head">
                    Welcome to Zonebiz
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
                </p>
                <h5>
                    Our smart approach
                </h5>
                <ul class="about__list">
                    <li class="about__list__item">
                        Sed at tellus eu quam posuere mattis.
                    </li>
                    <li class="about__list__item">
                        Phasellus quis erat et enim laoreet posuere ac porttitor ipsum.
                    </li>
                    <li class="about__list__item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                </ul>
            </div>

            <div class="col-lg-6">
                <img src="./images/about-img.jpg" alt="About Image" srcset="About Image" class="img-fluid">
            </div>
        </div>
    </section>

    <section class="service ">
        <div class="container">
            <h2 class="font-weight-bold ">
                Our Best Services 
            </h2>
            <div class="row flex-wrap">
                
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="service__card">
                        <img src="./images/services-img-01.jpg" alt="service image 1" class=" img-fluid service__card__img">
                        <div class="service__card__box">
                            <h4 class="service__card__head">
                                Analytics 
                            </h4>
                            <p class="service__card__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="service__card">
                        <img src="./images/services-img-02.jpg" alt="service image 2" class=" img-fluid service__card__img">
                        <div class="service__card__box">
                            <h4 class="service__card__head">
                                Applications 
                            </h4>
                            <p class="service__card__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="service__card">
                        <img src="./images/services-img-03.jpg" alt="service image 3" class=" img-fluid service__card__img">
                        <div class="service__card__box">
                            <h4 class="service__card__head">
                                Business Process 
                            </h4>
                            <p class="service__card__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="service__card">
                        <img src="./images/services-img-04.jpg" alt="service image 4" class=" img-fluid service__card__img">
                        <div class="service__card__box">
                            <h4 class="service__card__head">
                                Consulting
                            </h4>
                            <p class="service__card__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="service__card">
                        <img src="./images/services-img-05.jpg" alt="service image 5" class=" img-fluid service__card__img">
                        <div class="service__card__box">
                            <h4 class="service__card__head">
                                Infrastructure 
                            </h4>
                            <p class="service__card__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="service__card">
                        <img src="./images/services-img-06.jpg" alt="service image 6" class=" img-fluid service__card__img">
                        <div class="service__card__box">
                            <h4 class="service__card__head">
                                Product Engineering  
                            </h4>
                            <p class="service__card__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio">
        <div class="container">
            <h2>
                Our Portfolio
            </h2>
            <div class="portfolio__selector  " >
                <button class="portfolio__btn portfolio__btn--active" data-filter="*" >All</button>
                <button class="portfolio__btn" data-filter=".business" >Business</button>
                <button class="portfolio__btn" data-filter=".travel" >Travel</button>
                <button class="portfolio__btn" data-filter=".financial" >Financial</button>
                <button class="portfolio__btn" data-filter=".academic" >Academic</button>
            </div>
            <div class="row  " id="projects">
                <div class="col-lg-4 col-md-6 portfolio__item  financial" >
                    <div class="portfolio__item__box">
                        <img src="./images/portfolio-img-01.jpg" alt="portfolio 1" class="img-fluid portfolio__item__img ">
                        <div class="portfolio__item__hover">
                            <i class="fas fa-arrows-alt"></i>
                        </div>
                        <p>
                            Financial Sustainability
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio__item  business academic" d>
                    <div class="portfolio__item__box">
                        <img src="./images/portfolio-img-02.jpg" alt="portfolio 2" class="img-fluid portfolio__item__img ">
                        <div class="portfolio__item__hover">
                            <i class="fas fa-arrows-alt"></i>
                        </div>
                        <p>
                            Financial Sustainability
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio__item  travel"  >
                    <div class="portfolio__item__box">
                        <img src="./images/portfolio-img-03.jpg" alt="portfolio 3" class="img-fluid portfolio__item__img ">
                        <div class="portfolio__item__hover">
                            <i class="fas fa-arrows-alt"></i>
                        </div>
                        <p>
                            Financial Sustainability
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio__item  business" data-category="business">
                    <div class="portfolio__item__box">
                        <img src="./images/portfolio-img-04.jpg" alt="portfolio 4" class="img-fluid portfolio__item__img ">
                        <div class="portfolio__item__hover">
                            <i class="fas fa-arrows-alt"></i>
                        </div>
                        <p>
                            Financial Sustainability
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio__item  travel" >
                    <div class="portfolio__item__box">
                        <img src="./images/portfolio-img-05.jpg" alt="portfolio 5" class="img-fluid portfolio__item__img ">
                        <div class="portfolio__item__hover">
                            <i class="fas fa-arrows-alt"></i>
                        </div>
                        <p>
                            Financial Sustainability
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio__item  financial academic" data-category="financial">
                    <div class="portfolio__item__box">
                        <img src="./images/portfolio-img-01.jpg" alt="portfolio 6" class="img-fluid portfolio__item__img ">
                        <div class="portfolio__item__hover">
                            <i class="fas fa-arrows-alt"></i>
                        </div>
                        <p>
                            Financial Sustainability
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <h2>
                Our Blog
            </h2>
            <div class=" owl-carousel owl-theme slider" id="blog_slider">
                <div class=" blog__item" >
                    <div class="blog__item__header">
                        <div class="blog__item__author">
                            <img src="./images/testi_01.png" alt="">
                            <a href="#">Kristiana</a>
                        </div>
                        <div class="blog__item__time">
                            <i class="fa fa-calendar"></i>
                            <span>05 June 2018</span>
                        </div>
                    </div>
                    <div class="blog__item__img">
                        <img src="./images/img-1.jpg" alt=" img 1">
                        <div class="blog__item__tags">
                            <a href="#">business</a>
                            ,
                            <a href="#">financ</a>
                        </div>
                    </div>
                    <div class="blog__item__content">
                        <p>    
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.
                        </p>
                    </div>
                </div>
                
                <div class=" blog__item" >
                    <div class="blog__item__header">
                        <div class="blog__item__author">
                            <img src="./images/testi_01.png" alt="">
                            <a href="#">Kristiana</a>
                        </div>
                        <div class="blog__item__time">
                            <i class="fa fa-calendar"></i>
                            <span>05 June 2018</span>
                        </div>
                    </div>
                    <div class="blog__item__img">
                        <img src="./images/img-1.jpg" alt=" img 1">
                        <div class="blog__item__tags">
                            <a href="#">business</a>
                            ,
                            <a href="#">financ</a>
                        </div>
                    </div>
                    <div class="blog__item__content">
                        <p>    
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>

                <div class=" blog__item" >
                    <div class="blog__item__header">
                        <div class="blog__item__author">
                            <img src="./images/testi_01.png" alt="">
                            <a href="#">Kristiana</a>
                        </div>
                        <div class="blog__item__time">
                            <i class="fa fa-calendar"></i>
                            <span>05 June 2018</span>
                        </div>
                    </div>
                    <div class="blog__item__img">
                        <img src="./images/img-1.jpg" alt=" img 1">
                        <div class="blog__item__tags">
                            <a href="#">business</a>
                            ,
                            <a href="#">financ</a>
                        </div>
                    </div>
                    <div class="blog__item__content">
                        <p>    
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.
                        </p>
                    </div>
                </div>

                <div class=" blog__item" >
                    <div class="blog__item__header">
                        <div class="blog__item__author">
                            <img src="./images/testi_01.png" alt="">
                            <a href="#">Kristiana</a>
                        </div>
                        <div class="blog__item__time">
                            <i class="fa fa-calendar"></i>
                            <span>05 June 2018</span>
                        </div>
                    </div>
                    <div class="blog__item__img">
                        <img src="./images/img-1.jpg" alt=" img 1">
                        <div class="blog__item__tags">
                            <a href="#">business</a>
                            ,
                            <a href="#">financ</a>
                        </div>
                    </div>
                    <div class="blog__item__content">
                        <p>    
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida nulla eu massa efficitur, eu hendrerit ipsum efficitur. Morbi vitae velit ac.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="contact__bg">
                    <div class="container">
            <div class="row">
                <div class="col-md-8 contact__text ">
                    <p>               
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
                    </p>
                </div>
                <div class="col-md-4 contact__action">
                    <a class="contact__btn" href="#">Contact</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer__item">
                        <h4 class="footer__item__head">About Us</h4>
                        <div class="footer__item__content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            
                            <ul class="footer__item__social-media">
                                <li class="footer__item__social-media-icon">
                                    <a class="fab fa-facebook-f footer__item__social-media-link" href="#"></a>
                                </li>
                                <li class="footer__item__social-media-icon">
                                    <a class="fab fa-instagram footer__item__social-media-link" href="#"></a>
                                </li>
                                <li class="footer__item__social-media-icon">
                                    <a class="fab fa-twitter footer__item__social-media-link" href="#"></a>
                                </li>
                                <li class="footer__item__social-media-icon">
                                    <a class="fab fa-linkedin-in footer__item__social-media-link" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer__item">
                        <h4 class="footer__item__head">Quick Links</h4>
                        <div class="footer__item__content">
                            <ul class="footer__item__list">
                                <li class="footer__item__list__item">
                                    <a href="#" class="footer__item__list__link">Default Version</a>
                                </li>
                                <li class="footer__item__list__item">
                                    <a href="#" class="footer__item__list__link">Boxed Version</a>
                                </li>
                                <li class="footer__item__list__item">
                                    <a href="#" class="footer__item__list__link">Our Team </a>
                                </li>
                                <li class="footer__item__list__item">
                                    <a href="#" class="footer__item__list__link">About Us</a>
                                </li>
                                <li class="footer__item__list__item">
                                    <a href="#" class="footer__item__list__link">Our Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer__item">
                        <h4 class="footer__item__head">Newsletter</h4>
                        <div class="footer__item__content">
                            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                            <form action="#" class="footer__item__form">
                                <input type="text" name="email" class="footer__item__input" placeholder="Enter Your Email" >
                                <input type="submit" value="Go!" class="footer__item__submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        All Rights Reserved. © 2020 Zonebiz(remake) by <a href="https://realattila.github.io/">RealAttila</a>, source : <a href="https://html.design/">html design</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>




<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>