@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showdown {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  50% {
    transform: translateY(0rem); }
  100% {
    opacity: 1; } }

@keyframes showup {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  50% {
    transform: translateY(0rem); }
  100% {
    opacity: 1; } }

@keyframes fadeup {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-10rem); } }

@keyframes fadedown {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(10rem); } }

*::before, *::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--color-background);
  height: 100%;
  font-size: 62.5%;
  font-family: 'Montserrat' !important;
  perspective: 150rem;
  height: 100vh;
  width: 100%; }

button, h1, h2, h3, p {
  font-family: 'Montserrat'; }

.perspective {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-out;
  overflow: hidden; }
  .perspective--active {
    transform: rotateY(45deg) translateX(0) translateZ(-40rem) scale(0.5);
    outline: 2rem solid var(--color-primary);
    cursor: pointer; }
    .perspective--active .container {
      box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.9); }

.container {
  height: 100%;
  width: 100%;
  background-color: var(--color-background); }

.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto; }

.content-list {
  height: 100%;
  width: 100%;
  list-style: none;
  position: relative; }

:root {
  --color-black: #000;
  --color-primary: #0f33ff;
  --color-white: #fff;
  --color-grey: #282828;
  --color-grey-light: #858585;
  --color-grey-light2: #555;
  --color-background: #0c0c0c;
  --color-telegram: #0088cc;
  --color-instagram: #bc2a8d; }

.item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0s ease-out 0.5s; }
  .item__sec {
    height: auto;
    min-width: 70%;
    max-width: 70%; }
  .item--active {
    opacity: 1;
    z-index: 10;
    transition: all 0s ease-out 0.5s; }

.home__banner {
  position: relative;
  min-height: 29rem; }
  .home__banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.85rem;
    width: calc(100%);
    height: 0.17rem;
    background-color: var(--color-grey); }
  .home__banner::after {
    content: '';
    height: 0.25rem;
    position: absolute;
    left: 0;
    bottom: -0.07rem;
    width: 1.5rem;
    background-color: var(--color-primary); }
  .home__banner h1 {
    color: var(--color-white);
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1;
    position: relative;
    top: 2rem;
    margin-bottom: 5rem; }

.home__btn {
  display: flex;
  position: relative;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 3; }
  .home__btn::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 75%;
    right: 0;
    top: 0;
    background-color: var(--color-primary);
    z-index: -1;
    transition: width 0.2s ease-out; }
  .home__btn:hover::before {
    width: 100%; }
  .home__btn svg {
    width: 0.8rem;
    fill: var(--color-white);
    transform: rotateX(180deg);
    margin-left: 0.5rem; }

.home__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%; }

.home__options {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem; }

.home__option, .home__option:visited, .home__option:active {
  color: var(--color-grey);
  text-decoration: none;
  padding-right: 2rem;
  transition: color .2s ease-in-out; }
  .home__option:hover, .home__option:visited:hover, .home__option:active:hover {
    color: var(--color-white); }
  .home__option h3, .home__option:visited h3, .home__option:active h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1.5rem; }
  .home__option p, .home__option:visited p, .home__option:active p {
    font-size: 0.9rem; }

.work h1 {
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.5rem; }

.work__btn {
  border: none;
  background-color: var(--color-grey);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -1.5rem; }
  .work__btn--prev {
    transform: rotateY(180deg);
    order: 1; }
  .work__btn--next {
    order: 3; }
  .work__btn svg {
    fill: var(--color-white);
    width: 1rem;
    height: 1rem; }

.work__slide {
  display: flex;
  align-items: center;
  justify-content: center; }

.work__list {
  order: 2;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  transition: all 0.5s ease-out; }
  .work__list--animated {
    animation: fade 1s ease-out; }
  .work__list__li:nth-child(1) {
    order: 1; }
  .work__list__li:nth-child(2) {
    order: 2; }
  .work__list__li:nth-child(3) {
    order: 3; }
  .work__list__item {
    width: 10rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .work__list__item, .work__list__item:visited, .work__list__item:active {
      text-decoration: none; }
    .work__list__item h3 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-weight: 800;
      color: var(--color-grey-light);
      font-size: 0.7rem; }
    .work__list__item p {
      font-size: 0.85rem;
      color: var(--color-white);
      display: none; }
    .work__list__item h3, .work__list__item p {
      text-align: center; }
    .work__list__item img {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      margin-bottom: 0.5rem; }
    .work__list__item--active {
      width: 20rem; }
      .work__list__item--active h3 {
        color: var(--color-white);
        font-size: 1.2rem;
        font-weight: 600; }
      .work__list__item--active p {
        display: block; }
      .work__list__item--active img {
        width: 19rem;
        height: 19rem;
        margin-bottom: 1rem; }

.about__banner {
  position: relative; }
  .about__banner::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    transform: rotate(-60deg);
    width: 1rem;
    height: 1rem;
    top: 1rem;
    left: 10rem;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%); }
  .about__banner::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    width: 0.8rem;
    height: 0.8rem;
    top: 4rem;
    left: 25rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.about h2 {
  color: var(--color-white);
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
  top: 2rem;
  margin-bottom: 5rem;
  position: relative; }
  .about h2::before {
    content: '';
    display: block;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 4.2rem;
    left: 17.8rem; }
  .about h2::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    width: 0.7rem;
    height: 0.7rem;
    bottom: 0.8rem;
    left: 17rem; }

.about__btn, .about__btn:visited, .about__btn:active {
  display: flex;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 7rem; }
  .about__btn svg, .about__btn:visited svg, .about__btn:active svg {
    width: 1rem;
    fill: var(--color-white);
    margin-left: 0.7rem;
    transition: transform 0.2s ease-out; }
  .about__btn:hover svg, .about__btn:visited:hover svg, .about__btn:active:hover svg {
    transform: translateX(0.3rem); }

.about__img {
  height: 170%;
  width: auto;
  position: absolute;
  top: -5rem;
  right: 0; }

.about__options {
  width: 100%;
  display: flex; }

.about__option, .about__option:visited, .about__option:active {
  width: 10rem;
  height: 5rem;
  outline: 0.7rem solid var(--color-primary);
  text-decoration: none;
  position: relative; }
  .about__option:not(:last-child), .about__option:visited:not(:last-child), .about__option:active:not(:last-child) {
    margin-right: 3rem; }
  .about__option:nth-child(1), .about__option:visited:nth-child(1), .about__option:active:nth-child(1) {
    background-image: url("img/about-winners.jpg"); }
  .about__option:nth-child(2), .about__option:visited:nth-child(2), .about__option:active:nth-child(2) {
    background-image: url("img/about-philosophy.jpg"); }
  .about__option:nth-child(3), .about__option:visited:nth-child(3), .about__option:active:nth-child(3) {
    background-image: url("img/about-history.jpg"); }
  .about__option h3, .about__option:visited h3, .about__option:active h3 {
    color: var(--color-white);
    position: absolute;
    bottom: -1.3rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s ease-out; }
  .about__option:hover h3, .about__option:visited:hover h3, .about__option:active:hover h3 {
    bottom: -2.2rem; }

.contact {
  position: relative;
  width: 100%;
  height: 100%; }
  .contact__background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -26%;
    background: url("img/contact-visual.png") no-repeat;
    background-size: cover; }
  .contact__modal {
    position: absolute;
    left: 50rem;
    top: 21rem;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25rem;
    min-width: 20rem;
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.8); }
    .contact__modal__info {
      display: flex;
      flex-direction: column; }
      .contact__modal__info a, .contact__modal__info a:visited, .contact__modal__info a:active {
        text-decoration: none;
        color: var(--color-white); }
      .contact__modal__info p {
        color: var(--color-white); }
      .contact__modal__info p, .contact__modal__info a {
        font-size: 0.9rem;
        padding: 0.5rem;
        text-align: center;
        display: inline-block; }
    .contact__modal__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .contact__modal__option {
      margin: 1rem 0; }
    .contact__modal__link, .contact__modal__link:visited, .contact__modal__link:active {
      display: inline-block;
      color: var(--color-white);
      padding: 0.5rem;
      text-decoration: none;
      font-weight: 700;
      font-size: 0.9rem;
      text-align: center;
      width: 8rem; }
    .contact__modal__link--telegram {
      background-color: var(--color-telegram); }
    .contact__modal__link--instagram {
      background-color: var(--color-instagram); }
    .contact__modal__link--contact {
      background-color: var(--color-primary); }

.hire {
  width: 75%; }
  .hire h2 {
    color: var(--color-white);
    font-size: 2rem;
    text-align: center; }
  .hire__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto; }
    .hire__options--row-1, .hire__options--row-2, .hire__options--row-3 {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3rem; }
  .hire__option {
    width: 33%;
    height: 5rem;
    margin-right: 2rem; }
    .hire__option input {
      display: none; }
      .hire__option input:checked ~ label {
        background-color: var(--color-primary);
        border-color: var(--color-primary); }
        .hire__option input:checked ~ label svg {
          opacity: 1;
          transform: translateX(0);
          width: 1rem; }
    .hire__option label {
      user-select: none;
      cursor: pointer;
      color: var(--color-white);
      font-size: 1.3rem;
      border: 0.1rem solid var(--color-white);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-out; }
    .hire__option svg {
      width: 0rem;
      margin-right: 1rem;
      fill: var(--color-white);
      opacity: 0;
      transition: all 0.2s ease-out;
      transform: translateX(-1rem); }
  .hire__inputs {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem; }
  .hire__input {
    width: 45%;
    border-bottom: 0.1rem solid var(--color-white);
    position: relative; }
    .hire__input input {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 3rem;
      color: var(--color-white); }
      .hire__input input:focus ~ label {
        font-size: 1rem;
        top: -1.5rem; }
    .hire__input label {
      position: absolute;
      font-weight: 200;
      top: 30%;
      left: 0;
      transition: all 0.2s ease-out; }
  .hire__submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    font-size: 1.5rem;
    padding: 1rem 7rem;
    text-transform: uppercase;
    margin-top: 4rem;
    font-weight: 600;
    cursor: pointer; }

.header {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 5%;
  top: 0;
  z-index: 1000; }
  .header__logo, .header__logo:visited, .header__logo:active {
    height: auto;
    width: auto;
    position: relative;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
    .header__logo img, .header__logo:visited img, .header__logo:active img {
      width: auto;
      height: 2rem;
      margin-right: 0.5rem; }
  .header__toggle {
    position: relative;
    width: 2rem;
    height: auto;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-content: center; }
    .header__toggle span {
      height: 0.1rem;
      width: 0.9rem;
      display: block;
      background-color: var(--color-white); }
    .header__toggle::after, .header__toggle::before {
      content: '';
      display: block;
      height: 0.15rem;
      width: 1.5rem;
      margin: 0 auto;
      background-color: var(--color-white);
      position: absolute; }
    .header__toggle::before {
      top: 1.5rem; }
    .header__toggle::after {
      top: 2.5rem; }

.menu {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  visibility: hidden;
  transition: visibility 0s 0.2s;
  overflow: hidden; }
  .menu--active {
    visibility: visible;
    transform-style: preserve-3d; }
    .menu--active li {
      opacity: 1;
      transform: translateX(0) translateZ(0); }
  .menu__item {
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
    transform: translateX(35rem) translateZ(-100rem);
    opacity: 0;
    color: var(--color-white);
    margin: 1rem;
    font-size: 4rem;
    font-weight: 700;
    position: relative; }
    .menu__item--active::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1rem;
      background-color: var(--color-primary);
      top: 50%;
      left: 0;
      text-align: center; }

.line {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  list-style: none; }
  .line::before {
    content: '';
    background-color: var(--color-grey-light2);
    width: 0.05rem;
    height: 100%;
    display: block;
    position: absolute;
    left: 0; }
  .line__item {
    color: var(--color-black);
    width: 100%;
    display: block;
    padding: 0.75rem;
    font-size: 0.9rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .line__item::before {
      content: '';
      display: block;
      height: 0.2rem;
      width: 0.2rem;
      background-color: var(--color-white);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 0; }
    .line__item::after {
      content: '';
      display: block;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 20%;
      color: var(--color-white); }
    .line__item:nth-child(1)::after {
      content: '01'; }
    .line__item:nth-child(2)::after {
      content: '02'; }
    .line__item:nth-child(3)::after {
      content: '03'; }
    .line__item:nth-child(4)::after {
      content: '04'; }
    .line__item:nth-child(5)::after {
      content: '05'; }
    .line__item--active {
      color: var(--color-white); }
      .line__item--active::before {
        background-color: var(--color-primary); }
      .line__item--active::after {
        left: -2rem; }
