* {
    &::before, &::after, & {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    background-color: var(--color-background);
    height: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat' !important;
    perspective: 150rem;
    height: 100vh;
    width: 100%;
}

button, h1, h2, h3, p {
    font-family: 'Montserrat';
}

.perspective {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-out;
    overflow: hidden;
    &--active {
        transform:  rotateY(45deg) translateX(0) translateZ(-40rem) scale(0.5);
        outline: 2rem solid var(--color-primary);
        cursor: pointer;
        .container {
            box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.9);
        }
    }
}
.container {

    height: 100%;
    width: 100%;
    background-color: var(--color-background);
}

.wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.content-list {
    height: 100%;
    width: 100%;
    list-style: none;
    position: relative;
}