.contact {
    position: relative;
    width: 100%;
    height: 100%;
    &__background {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: -26%;
        background: url('img/contact-visual.png') no-repeat ;
        background-size: cover;
    }
    &__modal {
        position: absolute;
        left: 50rem;
        top: 21rem;
        background-color: var(--color-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 25rem;
        min-width: 20rem;
        box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.8);
        &__info {
            display: flex;
            flex-direction: column;
            & a {
                &, &:visited, &:active {
                    text-decoration: none;
                    color: var(--color-white);
                }
            }
            & p {
                color: var(--color-white);
            }
            & p, & a {
                font-size: 0.9rem;
                padding: 0.5rem;
                text-align: center;
                display: inline-block;
            }
        }
        &__options{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__option {
            margin: 1rem 0;
            
        }
        &__link {
           
            &, &:visited, &:active {
                display: inline-block;
                color: var(--color-white);
                padding: 0.5rem;
                text-decoration: none;
                font-weight: 700;
                font-size: 0.9rem;
                text-align: center;
                width: 8rem;
            }
            &--telegram {
                background-color: var(--color-telegram);
            }  
            &--instagram {
                background-color: var(--color-instagram);
            }
            &--contact {
                background-color: var(--color-primary);
            }
        }
    }
}