.header {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 1000;
    &__logo {
        &, &:visited, &:active {
            height: auto;
            width: auto;
            position: relative;
            text-decoration: none;
            color: var(--color-white);
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            & img {
                width: auto;
                height: 2rem;
                margin-right: 0.5rem;
            }
        }
    }
    &__toggle {
        position: relative;
        width: 2rem;
        height: auto;
        padding: 2rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-content: center;
        & span {
            height: 0.1rem;
            
            width: 0.9rem;
            display: block;
            background-color: var(--color-white);
        }


        &::after, &::before {
            content: '';
            display: block;
            height: 0.15rem;
            width: 1.5rem;
            margin: 0 auto;
            background-color: var(--color-white);
            position: absolute;
        }
        &::before {
            top: 1.5rem;
        }
        &::after {
            top: 2.5rem;
        }
    }

}