.line {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    list-style: none;
    
    &::before {
        content: '';
        background-color: var(--color-grey-light2);
        width: 0.05rem;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
    }
    &__item {
        color: var(--color-black);
        width: 100%;
        display: block;
        padding: 0.75rem;
        font-size: 0.9rem;
        font-weight: 200;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease-out;
        &::before {
            content: '';
            display: block;
            height: 0.2rem;
            width: 0.2rem;
            background-color: var(--color-white);
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: 0;
        }
        &::after {
            
            content: '';
            display: block;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left:20%;
            color: var(--color-white);
        }
        &:nth-child(1)::after {
            content: '01';
        }
        &:nth-child(2)::after {
            content: '02';
        }
        &:nth-child(3)::after {
            content: '03';
        }
        &:nth-child(4)::after {
            content: '04';
        }
        &:nth-child(5)::after {
            content: '05';
        }
        &--active {
            color: var(--color-white);
            &::before {
                background-color: var(--color-primary);
            }
            &::after {
                left: -2rem;
            }
        }
    }
}