:root {
    --color-black: #000;
    --color-primary: #0f33ff;
    --color-white: #fff;
    --color-grey: #282828;
    --color-grey-light: #858585;
    --color-grey-light2: #555;
    --color-background: #0c0c0c;

    --color-telegram: #0088cc;
    --color-instagram: #bc2a8d;
}