.work {

    & h1 {
        color: var(--color-white);
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3.5rem;
    }
    &__btn {
        border: none;
        background-color: var(--color-grey);
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: -1.5rem;
        &--prev {
            transform: rotateY(180deg);
            order: 1;
        }
        &--next {
            order: 3;
        }
        & svg {
            fill: var(--color-white);
            width: 1rem;
            height: 1rem;
        }
    }
    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list {
        order: 2;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        transition: all 0.5s ease-out;

        &--animated {
            animation: fade 1s ease-out;
        }

        &__li {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2){
                order: 2;
            }
            &:nth-child(3){
                order: 3;
            }
        }

        &__item {

            width: 10rem;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &, &:visited, &:active {
                text-decoration: none;
            }
            h3 {
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-weight: 800;
                color: var(--color-grey-light) ;
                font-size: 0.7rem;
            }
            p {
                font-size: 0.85rem;
                color: var(--color-white);
                display: none;
                
            }
            h3, p {
                
                text-align: center;
            }
            & img {
                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                margin-bottom: 0.5rem;
            }

            &--active {
                width: 20rem;
                h3 {
                    color:var(--color-white);
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                p {
                    display: block;
                }

                & img {
                    width: 19rem;
                    height: 19rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}