.glowDiv {
  height: 200px;
  width: 200px;
  background: rgba(129, 129, 129, 0.164);
  filter: drop-shadow(0 0 15px #353535) drop-shadow(0 0 45px #353535) drop-shadow(0 0 75px #353535) blur(100px);
  border-radius: 100%;
  overflow: hidden;
  position: absolute;

  z-index: 10;
  user-select: none;
  pointer-events: none;
}

.tw-dark .glowDiv {
  background: rgba(235, 235, 235, 0.164);
  filter: drop-shadow(0 0 15px #f7f7f7) drop-shadow(0 0 45px #f7f7f7) drop-shadow(0 0 75px #f7f7f7) blur(50px);
}
