.spinner {
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
  -moz-animation: rotate 10s linear infinite;
  position: relative;
}

.dot {
  filter: drop-shadow(0 0 5px #7dd3fc) drop-shadow(0 0 15px #7dd3fc) drop-shadow(0 0 25px #7dd3fc) blur(10px);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
