.blog {
    padding: 3rem 0;
    & h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
    & .owl-stage {
        display: flex;
        align-items: stretch;

    }
    & .owl-nav,
    & .owl-dots {
        display: none;
    }
    &__item {
        padding-bottom: 2rem;
        margin: auto 1rem;
        border-bottom: 0.3rem solid var(--color-blue);
        height: 100%;

        &__img {
            overflow: hidden;
            position: relative;
            .blog__item__tags {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: var(--color-blue);
                padding: 0.1rem 0.3rem;
                color: var(--color-white);
                & a {
                    text-transform: uppercase;
                    color: inherit
                }


            }
            & img {
                transition: all 0.5s ease;
                &:hover {
                    transform: rotate(10deg) scale(1.5,1.5);
                }
            }
        }
        &__header {
            display: flex;
            margin-bottom: 1rem;
            & div {
                flex-basis: 50%;
                text-align: center;
            }
        }
        &__author {
            display: flex;
            justify-content: center;
            & img {
                height: 2rem;
                width: auto !important;
                padding-right: 0.3rem;
            }
        }
        &__time {

            & * {
                color: var(--color-blue);
            }
        }
        &__content {
            & p {
                color: var(--color-grey);
            }
        }

    }
}