.contact {
    
    position: relative;
    &__bg{
        background-color: var(--color-blue);
    }
    & .row {
        padding: 2rem 0;
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 3rem;
        background-image: url("../images/bg-bdr2.png");
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        top: 0.2rem;
        z-index: -1;
    }
    &__text {
        & p {
            color: var(--color-white);

        }
    }
    &__btn {
        color: var(--color-blue);
        background-color: var(--color-white);
        padding: 0.4rem 5em;
        border: none;
        font-size: 1.5rem;
        border-radius: 0.4rem;
        &:hover {
            color: var(--color-blue);
        }
    }
}