.service {
    padding: 3rem 0;
    background: url('../images/dott.jpg');

    & h2 {
        text-align: center;
        margin: 1rem auto 2rem auto;

    }
    &__card {
        box-shadow: 0rem 0rem 0.6rem rgba(var(--color-dark-rgb), 0.25);
        background-color: var(--color-white);
        border-radius: 0.2rem;
        overflow: hidden;
        margin: 0.7rem auto;
        &__img {

        }
        &__box {
            padding: 1rem;
        }
        &__head {
            color: var(--color-blue);
        }
        &__text {

        }
    }
}