:root {
    --color-blue: #1273eb;
    --color-blue--rgb: 18,115,235;

    --color-white: #fff;
    --color-white2: #CCC;

    --color-dark: #000;

    --color-dark-rgb: 0,0,0;

    --color-grey: #323232;

    --color-grey2: #323f45;

    --color-facebook: #3B5998;
    --color-twitter: #55ACEE;
    --color-instagram: #e1306c;
    --color-linkedin: #2867b2;

}


a{

    &,
    &:visited,
    &:active {
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-white);
}


.download {
    background-color: var(--color-dark);
    padding: 2rem;
    text-align: center;
    & p {
        color: var(--color-white);
        text-align: center;
    }
}