.top-bar {
    background-color: var(--color-blue);

    &__social-media {
        display: flex;
    }

    &__social-media-link{
        &,
        &:active,
        &:visited {
            color: var(--color-white);
            padding: 0.4rem;
            margin: 0.2rem;
            &:hover {
                color: var(--color-dark);
            }
        }

    }

    &__contact-detail {
        display: flex;
        justify-content: flex-end;
        padding: 0.2rem;
    }
    &__contact-item {
        margin: 0.1rem 0.4rem;
        color: var(--color-white);
        & i {
            transform: rotateY(180deg);
        }
    }

    & .nav {
        display: flex;
        background-color: var(--color-white);
        
        & .container {
            display: flex;
            justify-content: space-between;
            margin: 1rem auto;
        }

        &__brand {

        }

        &__toggle {
            display: none;
            &__icon {
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            &__list {
                display: flex;
            }
            &__item {
                position: relative;
                &__menu {
                    position: absolute;
                    right: 0;
                    z-index: 2;
                    min-width: 10rem;
                    transform: scale(0);
                    transition: all 0.2s ease;
                    transform-origin: right top;
                    padding-top:1.5rem;
                    
                    &::before {
                        content: "";
                        display: block;
                        
                    }
                    & .nav__menu__list {
                        box-shadow: 0.2rem 0.3rem 1rem rgba(var(--color-dark-rgb), 0.15);
                        display: flex;
                        flex-direction: column;
                        background-color: var(--color-white);
                        
                        
                        & li {
                            display: flex;
                        }
                        & a {
                            padding:0.5rem 1rem;
                            display: block;
                            width: 100%;
                        }
                    }
                }

                &:hover {
                    
                    & .nav__menu__item__menu {
                        transform: scale(1);
                    }   
                }
            }   

            &__link {
                &,
                &:visited,
                &:active {
                    color: var(--color-dark);
                    padding: 0.5rem;
                    margin: 0 0.5rem;
                    position: relative;
                    text-transform: uppercase;
                    
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        background-color: var(--color-blue);
                        border-radius: 0.45rem;
                        transition: all 0.5s ease;
                        height: 0.2rem;
                    }

                    &::before {
                        left: 0;
                        top: 0;
                    }

                    &::after {
                        right: 0;
                        bottom: 0;
                    }


                    &:hover {
                        color: var(--color-blue);
                        &::before,
                        &::after {
                            width:2rem ;
                            
                        }
                    }

                    & i {
                        float: right;
                    }

                }

                &--no-hover {
                    
                    &,
                    &:visited,
                    &:active {

                        &::before, &::after {
                            height: 0;
                        }
                    }
                }
            }
        }
    }
}

@include res(tab-land) {
    .top-bar {
        & > .container:first-child {
            display: none;
        }
    }
}

@include res(tab-port) {
    .top-bar {

        .nav{

            &__toggle {
                cursor: pointer;
                display: block;
                z-index: 3;
    
                &__icon {
                    height: 0.2rem;
                    width: 2rem;
                    background-color: var(--color-dark);
                    display: block;
                    position: relative;
                    top: 1.3rem;
                    transition: all 0.3s ease;
    
                    &::after, &::before {
                        content: '';
                        height: 0.15rem;
                        width: 2rem;
                        background-color: var(--color-dark);
                        display: block;
                        position: absolute;
                        transition: all 0.3s ease;
                    }
                    &::before {
                        top: -0.4rem;
                    }
                    &::after {
                        top: 0.5rem;
                        height: 0.2rem;
                    }
    
                    &--toggle {
                        height: 0;
                        &::before {
                            transform: rotate(135deg);
                            top: 0;
                        }
                        &::after {
                            transform: rotate(-135deg);
                            top: 0;
                        } 
                    }
                }
            }

            &__menu {
                z-index: 2;
                transform: scaleX(0);
                background-color: var(--color-white);
                padding: 0 3rem;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                min-width: 20rem;
                transition: transform 0.1s ease;
                transform-origin: right center;
                
                &--show {
                    transform: scaleX(1);
                }
                &__list {
                    flex-direction: column;
                   
                }
                &__link {
                    &,
                    &:active,
                    &:visited {
                        padding: 0.5rem 1rem;
                    }
                }
                &__item {
                    margin: 0.5rem ;

                    &__menu {
                        position: relative;
                        transform: scale(1);
                        display: flex;
                        justify-content: flex-end;
                        & ul {
                            padding: 0;
                        }

                        & .nav__menu__list {
                            box-shadow: none;
                        }
                    }
                }
            }

        }
    }
}